.cart {
  padding: 25px;
  max-height: 70vh;
  overflow: hidden scroll;
  font-family: visby-mid;

  .cart__line {
    border-top: 2px solid #f9632e;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  .cart__header {
    padding-bottom: 20px;

    h3 {
      font-size: 22px;
      text-align: center;
      font-family: visby-bold;
    }
  }

  .cart__empty {
    text-align: center;
    margin: 15px 0;

    h2 {
      font-size: 25px;
      font-family: visby-bold;
      margin-bottom: 10px;
    }
  }

  .cart__finishOrderContent {
    text-align: center;
    padding: 15px 0;

    .cart__finishOrderContent__iconWrapper {
      padding: 40px 0;

      svg {
        font-size: 150px;
        color: #2ca666;
        font-weight: bold;
      }
    }

    p {
      line-height: 1.4;

      span {
        color: #2ca666;
      }
    }
  }

  .cart__finishOrderContent__footer {
    padding-top: 15px;

    p {
      text-align: start;
      position: relative;
      margin-bottom: 10px;

      span {
        position: absolute;
        right: 0;
        color: #f9632e;
      }
    }
  }

  .cart__product {
    padding: 20px;
    display: flex;

    .cart__product__imageBox {
      width: 25%;
      margin-right: 15px;
      position: relative;

      img {
        width: 100%;
      }

      .cart__product__quantity {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        font-size: 15px;
        color: #fff;
        border-radius: 50%;
        background-color: #f9632e;
      }
    }

    .cart__product__content {
      width: 75%;

      h5 {
        font-size: 18px;
        font-family: visby-bold;
        margin-bottom: 10px;
      }

      .cart__product__info {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 10px;

        span:last-child {
          color: #f9632e;
        }
      }

      .cart__action__buttons {
        text-align: right;

        button {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          height: 20px;
          width: 20px;
          border: 1px solid #f9632e;
          background-color: #f9632e;
        }

        button:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
  }

  .cart__rulesWrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    p {
      font-size: 15px;
      color: #f9632e;
      max-width: 60%;
      font-family: visby-mid;
    }

    .cart__rulesWrapper__checkbox {
      position: relative;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked {
          ~ {
            .checkmark {
              &::after {
                display: block;
              }
            }
          }
        }
      }

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        height: 15px;
        width: 15px;
        background-color: #fff;
        border: 1px solid #f9632e;
        cursor: pointer;

        &::after {
          content: "";
          position: absolute;
          display: none;
        }

        &::after {
          left: 4px;
          top: 0;
          width: 4px;
          height: 9px;
          border: solid #f9632e;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
          transform: rotate(30deg);
        }
      }
    }
  }

  .cart__formWrapper {
    padding: 0 20px;

    h3 {
      font-size: 22px;
      font-family: visby-bold;
    }

    .cart__form__inputs {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      input,
      button {
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #f9632e;
        padding: 5px 10px;
        font-size: 17px;
        font-style: italic;
        outline: none;
      }

      button {
        background-color: #f9632e;
        color: #fff;
        font-style: normal;
        cursor: pointer;

        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .cart {
    .cart__product {
      flex-direction: column;

      .cart__product__imageBox {
        width: 40%;
        margin: 0 0 20px 0;
      }

      .cart__product__content {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .cart {
    .cart__product,
    .cart__rulesWrapper {
      padding: 20px 0;

      .cart__product__content {
        h5 {
          font-size: 15px;
        }

        .cart__product__info {
          font-size: 12px;
        }
      }
    }

    .cart__formWrapper {
      padding: 20px 0 0 0;
    }
  }
}
