.content__wrapper {
  .blog__header {
    margin-bottom: 30px;
    font-size: 25px;
    font-family: visby-reg;
  }

  .blog__body {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
    font-family: visby-mid;
  }
}
